/* MENU HAMBURGUER */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease 0;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/*========= MENU ===========*/

.menu {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 650px;
  width: -1px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: -1;
  transition: 400ms ease-in-out 0;
}

.menu-itens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 400ms ease-out 0;
  text-decoration-color: black;
}

.menu-itens ul {
  list-style-type: none;
}

.menu-itens ul li a {
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* Animação do Menu */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  background-color: steelblue;
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: rotate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  background-color: rgb(32, 58, 80);
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: #ffffff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax white;
  z-index: 1;
}

#toggle:checked ~ .menu-itens {
  visibility: visible;
  opacity: 1;
}
