.JP img {
  width: min(50rem, 100%);
  margin-inline: center;
  padding-inline: 2%;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9990;
  transition: 400ms ease-in-out 0;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  transition: 0.5 ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate();
}
