.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  border: #ffffff solid 2px;
  margin-top: 4rem;
  display: flex;
  margin-inline: 1rem;
  display: block;

  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(26, 62, 129, 0.75);
  border-radius: 1.2rem;
  border: 2px solid rgba(255, 255, 255, 0.125);
}

.skills h3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.skills .skill .img_skill img {
  width: 8rem;

  margin-left: 2rem;


  padding-left: 3rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skills .skill .img_skill #HTML {
  width: 8rem;
  height: 5rem;
}

.skills .skill .img_skill #FIGMA {
  width: 7rem;
  height: 5rem;
}

.skills .skill .img_skill #React {
  width: 8.5rem;
  height: 4.8rem;
}

.skills .skill .img_skill #Java {
  width: 9rem;
  height: 5rem;
}

.skill .skills p {
  border-color: #ffffff solid;
}
