.skills {
  border: #ffffff solid 2px;
  margin-top: 4rem;
  display: flex;
  margin-inline: 1rem;
  display: block;

  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(26, 62, 129, 0.75);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
}

.skills h3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.skills .skill .img_skill img {
  width: 8rem;

  margin-left: 2rem;
  margin-right: 1rem;

  border-left: #ffffff solid 2px;
  padding-left: 3rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skills .skill .img_skill #HTML {
  width: 4.6rem;
  height: 5rem;
  padding: 1%;
  border-left: none;

  margin-left: 3.8rem;
}

.skills .skill .img_skill #FIGMA {
  width: 8rem;
  height: 6rem;
  padding: 1%;
  padding-left: 3.4rem;
}

.skills .skill .img_skill #React {
  width: 6.5rem;
  height: 6rem;
  padding: 1%;
  border-left: none;
  margin-right: 0.3rem;
  margin-left: 2.6rem;
}

.skills .skill .img_skill #Java {
  width: 9rem;
  height: 6rem;
}

.skill .skills p {
  border-color: #ffffff solid;
}
